USE [StarBridge-DDH-OldProd]
GO
/****** Run this to deal with error "System.ArgumantException: An item with the same key has already been added" ******/
/* Run this to identify the items with the same key */
SELECT [EntityTypeId], [SourceSystemId], [SourceSystemEntityId], COUNT(*)  
FROM [dbo].[EntityMapping]  
WHERE [State] <> 3  
GROUP BY [EntityTypeId], [SourceSystemId], [SourceSystemEntityId]  
HAVING COUNT(*) > 1  
ORDER BY COUNT(*) DESC

GO
/* Then run this Stabridge storedProc to inactivate the dupicates. Take to most rescent, its usually the culpret */
ALTER PROCEDURE [dbo].[SetMappingState]
	@mappingId UNIQUEIDENTIFIER, -- Mapping Id of Entity you want to diable
	@operationId UNIQUEIDENTIFIER, -- A new Guid
	@timeStamp DATETIMEOFFSET(7), -- Current Timestamp
	@state INT -- Set to 3 to disable
AS
	DECLARE @previousState CHAR(1)
BEGIN
	EXECUTE [dbo].[EnsureOperationExists] @operationId, @timeStamp

	SELECT @previousState = [State] FROM [dbo].[Mapping] WHERE [Id] = @mappingId
	UPDATE [dbo].[Mapping] SET [State] = @state WHERE [Id] = @mappingId
	INSERT INTO [dbo].[MappingStateChange]
		VALUES(@operationId, @mappingId, @previousState)
END